<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-twitter", id: "unfollow_btn" %>
    <% else %>
        <% if current_user.id != @user.id %>
	    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	   <% end %>
    <% end %>
</p>

<div class="row">
    <div class="col-md-6">
        <% @user.tweets.each do |tweet| %>
            <%= render 'a_tweet', tweet: tweet %>
        <% end %>
    </div>
</div>

